<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assign10</title>
</head>
<body>
<section class="insert">
    <h1>Insertion Form</h1>
    <form method="POST" action="/index">
        <input  name="username" type="text" placeholder="name">
        <input  name="lastname" type="text" placeholder="lastname">
        <input  name="email" type="email" placeholder="email">
        <input type="submit">
    </form>
</section>
<section class="update">
    <h1>Update Form</h1>

</section>
<section class="delete">
    <h1>Deletion Form</h1>

</section>
<section class="list">
    <h1>List of Users</h1>
    <ul>
    {% for user in users %}
        <li>name: {{ user.first_name  |  upper}}  last name: {{ user.last_name | upper}}    email:{{  user.email}}      join date:  {{ user.creation_time}}</li>
        {% endfor %}
    </ul>
</section>
</body>
</html>