<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== Google Fonts ===== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Raleway:500,600,700">
    <!-- ===== Favicon Icon ===== -->
    <!-- ===== Bootstrap ===== -->
    <!-- ===== Font Icons ===== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap">
    <!-- ===== Corousel and Lightbox ===== -->
    <!-- ===== Colors ===== -->
    <!-- ===== Preloader ===== -->
    <!-- ===== style.css ===== -->
    <link rel="stylesheet" href="../static/CSS/CV.css">
    <!-- ===== Responsive CSS ===== -->
    <title>SR</title>
</head>

<body>
<div class="grid-container">
    <div class="toggle-Container">
        <input type="checkbox" id="switch" name="theme"/>
        <label for="switch"></label>
        <div>
            <div class="shape sm"></div>
            <div class="shape sm"></div>
            <div class="shape md"></div>
            <div class="shape lg"></div>
        </div>
    </div>
    <div class="grid-side">
        <div class="grid-prt">
            <img src="../static/IMAGES/prt.jpeg" height=100% width=100% alt="Avatar">


        </div>
        <div class="grid-item" id="item-1" ><a class="anchor" href="#intro" type="button"  > Intro  </a></div>
        <div class="grid-item" id="item-2"><a class="anchor" href="#resume" type="button" > Resume </a></div>
        <div class="grid-item" id="item-3"><a class="anchor" href="#projects" type="button" >Projects</a></div>
        <div class="grid-item" id="item-4" onclick=""><a class="anchor" href='contacts' type="button" >Contacts</a></div>
    </div>
    <div class="grid-main">
        <!--intro-->
        <section id="intro">
            <div class="intro-container">
                <h1 class="intro-title" align="left"  >Welcome,<span></span></h1>
                <h2 class="intro-title" align="left" >my name is<span></span></h2>
                <h3 class="intro-title" align="left" >Sagie.<span></span></h3>
                <p class="intro-content">
                    I am a Third year Industrial engineering student at Ben-Gurion University of the Negev,
                    looking for a new and exciting student Role. I'm passionate about science and physics,
                    curious and motivated, an autodidact and a problem-solver. I am experienced with Research
                    and Development processes, prototyping and testing. as well as working under fast-pace
                    production environment and heavy customer Demands.
                </p>
                <br>
            </div>
        </section>

        <!--    <div class="grid-main2">-->
        <!--resume-->
        <section id="resume">
            <div class="resume-container">
                <embed src="../static/IMAGES/CV2021.jpg"  width="80%" />
            </div>
        </section>

        <section id="projects">

        </section>

        <section id="Contacts">


        </section>

        <!--    </div>-->
    </div>

</div>
</body>

<script type="text/javascript" src="../static/JS/NightMode-toggle.js"></script>

</html>