<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Sagie's CV</title>
</head>
<body>
    <h1 title="">CV project - plan</h1>
    <h2>UX design</h2>
    <ol >
        <li>Targeted audience- businesses,  employers, High-tech  </li>
        <li>Site goal- Personal CV. dynamic display and animations.   </li>
        <li>Secondary gaols- display and improve my html\css\js skills.   </li>
        <li>Viewer actions- Basic Scroll through CV, "jump" to selected title, open my LinkedIn\github url.</li>
        <li>Success measures- </li>
    </ol>

    <h2>UI design</h2>
    <ol >
        <li>Page structure- <br>
        <img src="Sketch.jpg" alt="Sketch" width="860" height="600">
            <ol>
                <li> Home - intro page, 1 paragraph with basic info and motivation.</li>
                <li> resume - my personal resume.</li>
                <li> projects - links an description of my projects at github.</li>
            </ol>
        <li> Color scheme - to be determined...</li>
        <li> Fonts - to be determined...</li>
        </li>
    </ol>
</body>
</html>